/** GENERAL SETTINGS**/
:root{
    --primary:#044709;
    --primary-variant: #4CAF50;
    --secondary:#75B432;
    --secondary-variant: #E7FFCE;
    --background: #FFFFFF;
    --surface: #F6F8ED;
    --light-gray: #F8F8F8;
    --text-dark: #212121;
}

body {
    background-color: var(--background);
}


/* Typography Settings*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none !important;
}

button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}


/** LAYOUT SETTINGS **/
.app-wrapper {
    display: flex;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.header {
    width: 100%;
}

.main-content {
    flex: 1;
    padding: 1.5rem;
}


/** MAIN LAYOUT COMPONENTS **/
/* Sidebar Settings */
.sidebar-link{
    gap: 1em;
    padding:.9rem 1rem;
    align-items:center;
    border:1px solid var(--primary);
    border-radius:8px;
    color:var(--primary);
    transition:.2s;
}

.sidebar-link:hover{
    background:var(--secondary-variant);
}

.sidebar-link.active{
    background:var(--primary);
    color:white;
}